body{
    margin: 0;
    padding: 0;
}
.main{
    position: absolute;
    top: 0;
    left: 172px;
    width: 350px;
    height: 250px;
    background-color: ivory;
    border: black 1px solid;
}
.checkbox{
    position: relative;
    width: 80px;
    height: 20px;
    top:45px;
    left: 80px;
    -webkit-appearance:none;
    background-color: #c6c6c6;
    border-radius: 30px;
    outline:none ;
    transition: 300ms;
    border: grey 0.5px solid;
    box-shadow: 1px 1px 1px 1px grey;
}
.checkbox:checked {
    background-color: mediumaquamarine;
}

.checkbox:before {
    content : '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-color:darkorange;
    border-radius: 50%;
    top: -6px;
    left:-2px;
    border: grey 0.5px solid;
    transition: 300ms;
    box-shadow: .3px .3px .3px .3px grey;
}
.checkbox:checked:before{
    position: absolute;
    top: -6px;
    left:54px}

.cheaptext{
    position: absolute;
    left:180px;
    top: 42px;
    font-size: 30px;
    font-family: OpenSymbol;
    color: darkslategray;
}
.main2{
    position: absolute;
    top: 60px;
    left: 172px;
    width: 350px;
    height: 400px;
}
.main3{
    position: absolute;
    top: 120px;
    left: 172px;
    width: 350px;
    height: 400px;
}

.goodtext{
    position: absolute;
    left:180px;
    top: 42px;
    font-size: 30px;
    font-family: OpenSymbol;
    color: darkslategray;}
.fasttext{
    position: absolute;
    left:180px;
    top: 42px;
    font-size: 30px;
    font-family: OpenSymbol;
    color: darkslategray;}